.LoginBar {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.avatar {
    height: 5vh;
    border-radius: 50%;
}