.LoginBar {
    height: 9vh;
    padding: 0 1rem 0 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.LoginBar h4 {
    display: none;
}

.avatar {
    height: 7vh;
    border-radius: 50%;
}

@media (min-width : 769px) {
    .LoginBar {
        justify-content: end;
    }

    .LoginBar h4 {
        display: contents;
    }

    .avatar {
        height: 7vh;
    }
}

